In [62]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd
from datetime import datetime as dt

In [75]:
players_df = pd.read_csv('../base_datasets/players.csv')
players_df.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [76]:
#check datatypes
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1683 entries, 0 to 1682
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nflId        1683 non-null   int64
 1   height       1683 non-null   object
 2   weight       1683 non-null   int64
 3   birthDate    1204 non-null   object
 4   collegeName  1683 non-null   object
 5   position     1683 non-null   object
 6   displayName  1683 non-null   object
dtypes: int64(2), object(5)
memory usage: 92.2+ KB

In [77]:
#created a function to convert height to a format that is easier to work with
def convert_height(height_str):
    feet, inches = map(int, height_str.split('-'))
    total_inches = (feet * 12) + inches
    return total_inches

In [78]:
players_df['height'] = players_df['height'].astype(str)
players_df['height'] = players_df['height'].apply(convert_height)
players_df.head()

   nflId  height  weight   birthDate     collegeName position     displayName
0  25511      76     225  1977-08-03        Michigan       QB       Tom Brady
1  29550      76     328  1982-01-22        Arkansas        T    Jason Peters
2  29851      74     225  1983-12-02      California       QB   Aaron Rodgers
3  30842      78     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084      76     217  1985-05-17  Boston College       QB       Matt Ryan