In [17]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [18]:
week_1_df = pd.read_csv('../resources/tracking_week_1.csv')
week_1_df.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022090800,56,35472.0,Rodger Saffold,1,2022-09-08 20:24:05.200000,76.0,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,NaN
1,2022090800,56,35472.0,Rodger Saffold,2,2022-09-08 20:24:05.299999,76.0,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived
2,2022090800,56,35472.0,Rodger Saffold,3,2022-09-08 20:24:05.400000,76.0,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,NaN
3,2022090800,56,35472.0,Rodger Saffold,4,2022-09-08 20:24:05.500000,76.0,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,NaN
4,2022090800,56,35472.0,Rodger Saffold,5,2022-09-08 20:24:05.599999,76.0,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,NaN

In [20]:
week_1_df.shape

(1407439, 17)

In [22]:
#cle_df=plays_df.loc[plays_df['possessionTeam'=='CLE' or 'defensiveTeam'=='CLE']]
cle_week_1_df = week_1_df.loc[(week_1_df['club'] == 'CLE')]
cle_week_1_df.head(40)

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
172799,2022091101,85,41227.0,Jadeveon Clowney,1,2022-09-11 13:05:42.500000,90.0,CLE,right,26.32,17.19,4.18,2.14,0.42,14.90,258.77,NaN
172800,2022091101,85,41227.0,Jadeveon Clowney,2,2022-09-11 13:05:42.599999,90.0,CLE,right,25.91,17.12,4.01,2.40,0.42,14.04,259.13,NaN
172801,2022091101,85,41227.0,Jadeveon Clowney,3,2022-09-11 13:05:42.700000,90.0,CLE,right,25.55,17.05,3.66,2.82,0.37,14.04,259.46,NaN
172802,2022091101,85,41227.0,Jadeveon Clowney,4,2022-09-11 13:05:42.799999,90.0,CLE,right,25.20,17.00,3.38,2.93,0.35,14.04,260.68,NaN
172803,2022091101,85,41227.0,Jadeveon Clowney,5,2022-09-11 13:05:42.900000,90.0,CLE,right,24.90,16.97,3.01,3.15,0.31,11.37,262.32,pass_arrived
172804,2022091101,85,41227.0,Jadeveon Clowney,6,2022-09-11 13:05:43.000000,90.0,CLE,right,24.63,16.94,2.63,3.23,0.27,13.20,264.10,pass_outcome_caught
172805,2022091101,85,41227.0,Jadeveon Clowney,7,2022-09-11 13:05:43.099999,90.0,CLE,right,24.38,16.94,2.33,3.04,0.25,15.53,268.40,NaN
172806,2022091101,85,41227.0,Jadeveon Clowney,8,2022-09-11 13:05:43.200000,90.0,CLE,right,24.15,16.95,2.11,2.76,0.23,18.49,273.10,NaN
172807,2022091101,85,41227.0,Jadeveon Clowney,9,2022-09-11 13:05:43.299999,90.0,CLE,right,23.95,16.99,1.86,2.59,0.20,20.37,278.89,first_contact
172808,2022091101,85,41227.0,Jadeveon Clowney,10,2022-09-11 13:05:43.400000,90.0,CLE,right,23.80,17.04,1.59,2.48,0.16,18.81,287.33,NaN
172809,2022091101,85,41227.0,Jadeveon Clowney,11,2022-09-11 13:05:43.500000,90.0,CLE,right,23.66,17.11,1.46,2.18,0.16,18.81,295.61,NaN
172810,2022091101,85,41227.0,Jadeveon Clowney,12,2022-09-11 13:05:43.599999,90.0,CLE,right,23.53,17.19,1.37,1.85,0.15,17.19,303.16,NaN
172811,2022091101,85,41227.0,Jadeveon Clowney,13,2022-09-11 13:05:43.700000,90.0,CLE,right,23.41,17.27,1.32,1.52,0.14,13.85,309.20,NaN
172812,2022091101,85,41227.0,Jadeveon Clowney,14,2022-09-11 13:05:43.799999,90.0,CLE,right,23.34,17.39,1.28,1.52,0.14,6.78,320.93,NaN
172813,2022091101,85,41227.0,Jadeveon Clowney,15,2022-09-11 13:05:43.900000,90.0,CLE,right,23.22,17.51,1.42,0.94,0.17,3.42,322.21,NaN
172814,2022091101,85,41227.0,Jadeveon Clowney,16,2022-09-11 13:05:44.000000,90.0,CLE,right,23.13,17.63,1.43,0.70,0.15,359.97,324.87,NaN
172815,2022091101,85,41227.0,Jadeveon Clowney,17,2022-09-11 13:05:44.099999,90.0,CLE,right,23.09,17.78,1.46,0.84,0.16,356.99,335.10,NaN
172816,2022091101,85,41227.0,Jadeveon Clowney,18,2022-09-11 13:05:44.200000,90.0,CLE,right,23.02,17.93,1.53,0.65,0.17,353.23,337.52,NaN
172817,2022091101,85,41227.0,Jadeveon Clowney,19,2022-09-11 13:05:44.299999,90.0,CLE,right,22.96,18.10,1.64,0.60,0.18,348.67,340.87,NaN
172818,2022091101,85,41227.0,Jadeveon Clowney,20,2022-09-11 13:05:44.400000,90.0,CLE,right,22.93,18.29,1.72,0.70,0.19,343.08,345.77,NaN
172819,2022091101,85,41227.0,Jadeveon Clowney,21,2022-09-11 13:05:44.500000,90.0,CLE,right,22.91,18.48,1.81,0.74,0.19,340.35,350.96,NaN
172820,2022091101,85,41227.0,Jadeveon Clowney,22,2022-09-11 13:05:44.599999,90.0,CLE,right,22.89,18.70,1.99,0.67,0.22,340.97,353.91,tackle
172821,2022091101,85,41227.0,Jadeveon Clowney,23,2022-09-11 13:05:44.700000,90.0,CLE,right,22.86,18.93,2.12,0.55,0.23,336.62,355.69,NaN
172822,2022091101,85,41227.0,Jadeveon Clowney,24,2022-09-11 13:05:44.799999,90.0,CLE,right,22.85,19.14,2.16,0.78,0.21,338.53,357.87,NaN
172823,2022091101,85,41227.0,Jadeveon Clowney,25,2022-09-11 13:05:44.900000,90.0,CLE,right,22.85,19.36,2.20,0.48,0.22,344.22,359.67,NaN
172824,2022091101,85,41227.0,Jadeveon Clowney,26,2022-09-11 13:05:45.000000,90.0,CLE,right,22.85,19.58,2.20,0.46,0.22,348.86,358.95,NaN
172851,2022091101,85,44813.0,Myles Garrett,1,2022-09-11 13:05:42.500000,95.0,CLE,right,26.24,29.48,2.97,3.25,0.32,148.07,262.63,NaN
172852,2022091101,85,44813.0,Myles Garrett,2,2022-09-11 13:05:42.599999,95.0,CLE,right,25.98,29.45,2.56,3.33,0.26,110.11,262.73,NaN
172853,2022091101,85,44813.0,Myles Garrett,3,2022-09-11 13:05:42.700000,95.0,CLE,right,25.75,29.42,2.13,3.73,0.22,101.01,264.55,NaN
172854,2022091101,85,44813.0,Myles Garrett,4,2022-09-11 13:05:42.799999,95.0,CLE,right,25.56,29.41,1.74,3.47,0.19,93.55,268.17,NaN
172855,2022091101,85,44813.0,Myles Garrett,5,2022-09-11 13:05:42.900000,95.0,CLE,right,25.41,29.42,1.30,3.64,0.15,77.27,277.13,pass_arrived
172856,2022091101,85,44813.0,Myles Garrett,6,2022-09-11 13:05:43.000000,95.0,CLE,right,25.31,29.45,0.91,3.35,0.10,35.33,292.34,pass_outcome_caught
172857,2022091101,85,44813.0,Myles Garrett,7,2022-09-11 13:05:43.099999,95.0,CLE,right,25.28,29.52,0.76,3.51,0.08,57.48,344.56,NaN
172858,2022091101,85,44813.0,Myles Garrett,8,2022-09-11 13:05:43.200000,95.0,CLE,right,25.29,29.64,1.10,2.88,0.12,58.73,9.58,NaN
172859,2022091101,85,44813.0,Myles Garrett,9,2022-09-11 13:05:43.299999,95.0,CLE,right,25.37,29.78,1.50,2.95,0.16,33.25,26.58,first_contact
172860,2022091101,85,44813.0,Myles Garrett,10,2022-09-11 13:05:43.400000,95.0,CLE,right,25.45,29.94,1.83,2.07,0.19,39.08,29.82,NaN
172861,2022091101,85,44813.0,Myles Garrett,11,2022-09-11 13:05:43.500000,95.0,CLE,right,25.53,30.14,2.09,1.26,0.22,31.14,28.51,NaN
172862,2022091101,85,44813.0,Myles Garrett,12,2022-09-11 13:05:43.599999,95.0,CLE,right,25.63,30.39,2.42,1.14,0.26,18.25,24.92,NaN
172863,2022091101,85,44813.0,Myles Garrett,13,2022-09-11 13:05:43.700000,95.0,CLE,right,25.71,30.65,2.65,0.95,0.28,15.88,20.75,NaN
172864,2022091101,85,44813.0,Myles Garrett,14,2022-09-11 13:05:43.799999,95.0,CLE,right,25.79,30.94,2.82,0.86,0.30,9.11,17.00,NaN

In [16]:
cle_plays_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 760 entries, 23 to 12471
Data columns (total 35 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gameId                            760 non-null    int64
 1   playId                            760 non-null    int64
 2   ballCarrierId                     760 non-null    int64
 3   ballCarrierDisplayName            760 non-null    object
 4   playDescription                   760 non-null    object
 5   quarter                           760 non-null    int64
 6   down                              760 non-null    int64
 7   yardsToGo                         760 non-null    int64
 8   possessionTeam                    760 non-null    object
 9   defensiveTeam                     760 non-null    object
 10  yardlineSide                      745 non-null    object
 11  yardlineNumber                    760 non-null    int64
 12  gameClock                         760 non-null    object
 13  preSnapHomeScore                  760 non-null    int64
 14  preSnapVisitorScore               760 non-null    int64
 15  passResult                        323 non-null    object
 16  passLength                        301 non-null    float64
 17  penaltyYards                      40 non-null     float64
 18  prePenaltyPlayResult              760 non-null    int64
 19  playResult                        760 non-null    int64
 20  playNullifiedByPenalty            760 non-null    object
 21  absoluteYardlineNumber            760 non-null    int64
 22  offenseFormation                  760 non-null    object
 23  defendersInTheBox                 760 non-null    float64
 24  passProbability                   741 non-null    float64
 25  preSnapHomeTeamWinProbability     760 non-null    float64
 26  preSnapVisitorTeamWinProbability  760 non-null    float64
 27  homeTeamWinProbabilityAdded       760 non-null    float64
 28  visitorTeamWinProbilityAdded      760 non-null    float64
 29  expectedPoints                    760 non-null    float64
 30  expectedPointsAdded               760 non-null    float64
 31  foulName1                         38 non-null     object
 32  foulName2                         2 non-null      object
 33  foulNFLId1                        38 non-null     float64
 34  foulNFLId2                        2 non-null      float64
dtypes: float64(12), int64(12), object(11)
memory usage: 213.8+ KB